th:not(.additionalOption){
    cursor: pointer;
    &:after{
        content: '';
        float: right;
        margin-top: 7px;
        border: 5px solid transparent;
        border-top-color: white;
        opacity: 0;
    }
    &:hover{
        background-color: rgba(0, 0, 255, 0.616);
        &:after{
            opacity: 1;
        }
    }
}
td{
    a{
        text-decoration: underline;
    }
}
.ng-valid[required], .ng-valid.required  {
    border-bottom: 5px solid mediumseagreen; 
}
  
.ng-invalid:not(form)  {
border-bottom: 5px solid red; 
}