<div class="container">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <nav>
            <a routerLink="/authors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Авторы</a>
            <a routerLink="/genres" routerLinkActive="active">Жанры</a>
        </nav>
        <div>
            <div class="input-group">
                <input  id="search" 
                        type="text" 
                        class="form-control" 
                        placeholder="Поиск по названию книги" 
                        aria-describedby="button-search"
                        #searchText 
                        (keyup.enter)="search(searchText.value)"
                        >
                <div class="input-group-append">
                    <button id="button-search" 
                            class="btn btn-outline-success" 
                            type="button"
                            (click)="search(searchText.value)">
                            Поиск
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    

    <router-outlet></router-outlet>
</div>


